html {
  height: 100%;
  background: black;
  color: black; }
  html {
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      html {
        font-size: calc(14px + 22 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      html {
        font-size: 36px; } }

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: skyblue;
  padding: 2em;
  -webkit-animation: fade-in ease .6s forwards;
  animation: fade-in ease .6s forwards; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.comment {
  max-width: 30em;
  width: 95%;
  text-align: center;
  margin: 10em auto 5em;
  height: auto;
  font: 300 .9em/1.4em monospace;
  opacity: 0;
  -webkit-animation: fade-in-bottom ease .6s forwards;
  animation: fade-in-bottom ease .6s forwards;
  -webkit-animation-delay: .8s;
  animation-delay: .8s; }

h1 {
  font-family: "Source Serif Pro", serif;
  color: black;
  margin-bottom: 10px;
  padding: 0;
  opacity: 0;
  text-align: left;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: fade-in-bottom ease .8s forwards;
  animation: fade-in-bottom ease .8s forwards;
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  text-align: left;
  color: #333;
  margin: 0 0 0 1.7em;
  padding: 0;
  opacity: 0;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: fade-in-bottom ease .8s forwards;
  animation: fade-in-bottom ease .8s forwards;
  -webkit-animation-delay: .6s;
  animation-delay: .6s; }

.text-center {
  text-align: center; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
