* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: cornsilk;
}

h1 {
	font-size: calc(3vw + 3vh + .5vmin);
	line-height: calc(5vw + 5vh + 1vmin);
	margin: 0;
	padding: 0;
	text-align: center;
	color: #0E101A;
}
/* linear-gradient(to bottom, #01f5c5 0%, #00cfc5 100%); */
/*Type*/
h1,h2,h3,h4,h5,a, p {
	font-family: 'Lato', sans-serif;
}

h2 {
	margin-top: 0;
	margin-bottom: 5%;
	font-weight: 300;
	font-size: calc(.001em + 2vw + 2vh);
	text-align: center;
	color: cornsilk;
}

h3 {
	margin-top: 4%;
	margin-bottom: 1%;
	font-weight: 900;
	text-transform: uppercase;
	font-size: calc(.00001em + 2vw + 2vh);
	text-align: center;
	color: black;

}
h5 {
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 1.7em;
	text-align: center;
	color: black;

}
p {
	margin-top: 0;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.6em;
	text-align: center;
	color: black;
}
.container {
	width: 100%;
	padding: 0 50px;
}
.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}
.column {
	-webkit-flex-direction: column;
   flex-direction: column;
}
.center {
	width: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}


.logo {
	max-width: 100%;
	width: 200px;
	margin-bottom: 20px;
}
.work-links-bg {
	background-color: #9FFFDF;
	position: absolute;
	z-index: 0;
	height: 50px;
	max-width: 350px;
	-webkit-transform: skew(-50deg, 2deg);
	   -moz-transform: skew(-50deg, 2deg);
	     -o-transform: skew(-50deg, 2deg);
}
.work-links {
	z-index: 1000;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	line-height: 60px;
	text-align: center;
	background: black;
	width: 60px;
	height: 60px;
	margin: 10px 10px;
	border-radius: 100%;
}

@media (max-width: 500px) {
	.logo {
		width: 130px;
	}
	h1 {
		font-size: 2.2em;
		line-height: 2em;
	}
	p {
		font-size: 1.2em;
		line-height: 1.2em;
	}
}
