* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 15px;
	background-color: black;
}
main {
	height: 100vh;
	justify-content: space-between;
	background-color: white;
	padding: 20px;
}
footer {
	width: 100%;
	height: 180px;
	background: black;
}

h1 {
	font-size: 4vw;
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'Futura', sans-serif;
	text-align: left;
}
p {
	margin-top: 0;
	font-weight: 300;
	font-size: 2vw;
	padding-left: 4px;
	font-family: 'Helvetica', serif;
	line-height: 1.6em;
	text-align: left;
	color: black;
}
.container {
	width: 100%;
	padding: 50px;
}
.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}
.column {
	-webkit-flex-direction: column;
   flex-direction: column;
}
.center {
	width: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}


.contact-link {
	color: white;
	font-family: 'Futura', sans-serif;
	font-size: 1em;
	text-align: center;
	border: 2px solid black;
	padding: 5px 10px;
	transition: .3s;
	text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
	cursor: pointer;
	text-decoration: none;
	border: 2px solid white;
}

.intro {
	align-self: flex-start;
	margin-top: 5%;
}
.work-links {
	margin-top: 20%;
}
.work-link {
	z-index: 1000;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 60px;
	text-align: center;
	border: 2px solid black;
	background: white;
	color: black;
	width: 60px;
	height: 60px;
	margin: 10px 10px;
	border-radius: 100%;
	transition: .3s;
}
.work-link:hover,
.work-link:focus {
	background: black;
	border: 2px solid black;
	color: white;
}

@media (max-width: 700px) {
	h1 {
		font-size: 1.6em;
		line-height: 2em;
	}
	p {
		font-size: 1em;
		line-height: 1.2em;
	}
	.work-link {
		line-height: 50px;
		width: 50px;
		height: 50px;
	}
	.container {
		padding: 30px;
	}
	footer {
		height: 140px;
	}
	.contact-link {
		font-size: .9em;
	}
}

@media (max-height: 500px) {
	.work-link {
		line-height: 50px;
		width: 50px;
		height: 50px;
	}

}
