html {
  height: 100%;
  background: #eff0eb;
  background-size: cover;
  font-size: 18px;
}
main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
}
.links {
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  text-align: center;
  animation: fade-in-bottom ease .8s forwards;
  animation-delay: .8s;
  opacity: 0;
  .link {
    color: $blue;
    padding: 0 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: .3s;
    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
      color: darken($blue, 20%);
    }
  }
}

@media(min-width: 768px) {
  main {
    height: 80vh;
  }
  .links .link {
    font-size: 1.6em; 
  }
}

@media(max-height: 350px) {
  .links {
    bottom: 3rem;
  }
}